.nomar {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

.navitem {
	margin:0;
	padding:2px;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #1eff43;
	border-bottom: 2px solid #30dd00;
}

* {
	font-family: "Trebuchet MS";
}

@media screen and (min-width: 300px) {
	.navitem {
		font-size: 30px;
	}
}