.nomar {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

.navitem {
	margin:0;
	padding:2px;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #84b3ff;
	border-bottom: 2px solid #428aff;
}

h3 {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

* {
	font-family: "Trebuchet MS";
}

p {
	padding: 10px;
}

#nav {
	background-color: #84b3ff;
	border: 2px solid #428aff;
}

#timelinebody {
	width: 3200px;
}

#timeline2 {
	padding: 50px;
}